<div>
  {{#if board}}
  <h1 class="text-primary text-center">{{board.board_name}}</h1>
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Thread Text</th>
        <th scope="col">Replies</th>
      </tr>
    </thead>
    <tbody>
      {{#each board.threads}}
      <tr {{{onclick this.board.board_name this._id}}}>
        <th scope="row">{{truncate this.text}}</th>
        <td>{{this.replies.length}}</td>
      </tr>
      {{/each}}
    </tbody>
  </table>
  {{else}}
  <h1 class="text-center">No Board found!!!</h1>
  {{/if}}
</div>